* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    background-color: #1C1C1C;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

main {
    margin: 100px 20px 20px 20px;
}

main h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

main p {
    font-size: 18px;
    margin-bottom: 20px;
}

.grid {
    display: none;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-template-rows: repeat(var(--num-rows), 1fr);
    grid-gap: 0;
    max-width: 100%;
}

.grid div {
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.grid div.black {
    background-color: #000;
}

.start-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #3e8e41;
}

.stop-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.stop-button:hover {
    background-color: #d32f2f;
}
