* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    background-color: #1C1C1C;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

main {
    margin: 100px 20px 20px 20px;
}

main h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

main p {
    font-size: 18px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 4px;
    width: 500px;
}

.grid div {
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
